@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*{
  font-family: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root{
  --primary-color: #fba363;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Smooth scrolling for all elements */
html {
  scroll-behavior: smooth;
}

/* Enhanced smooth scrolling */
* {
  scroll-behavior: smooth;
}